<% hidden ||= false %>
<%= form_for [:admin, station], html: {class: "form-inline", style: "display: #{hidden ? 'none' : 'block'}" } do |f| %>
  <%= render 'common/errors', resource: station %>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :title, "Название" %>
      <%= f.text_field :title, id: :railway_station_title, class: "form-control" %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-4">
      <%= f.submit "#{ station.new_record? ? 'Создать' : 'Изменить' }", class: "btn" %>
    </div>
  </div>
<% end %>
