<p>
  <strong>Наименование:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Станции в маршруте:</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
  Нет станций в маршруте
  <% else %>
    <table class="table table-condensed">
      <thead style="font-weight: bold">
        <tr>
          <td>Название</td>
          <td>Позиция</td>
          <td>Время прибытия</td>
          <td>Время отправления</td>
        </tr>
      </thead>
      <tbody>
        <% @route.railway_stations.sorted.each do |station| %>
          <tr>
            <td><%= station.title %></td>
            <td>
              <%= form_tag(update_position_admin_railway_station_path(station), {method: :patch}) do %>
                <%= number_field_tag :position, station.position_in(@route), style: "line-height: 34px" %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag "Изменить", class: "btn" %>
              <% end %>
            </td>
            <td>
              <%= form_tag(update_arrival_time_admin_railway_station_path(station), {method: :patch}) do %>
                <%= datetime_field_tag :arrival_time, station.arrival_time(@route) %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag "Изменить", class: "btn" %>
              <% end %>
            </td>
            <td>
              <%= form_tag(update_departure_time_admin_railway_station_path(station), {method: :patch}) do %>
                <%= datetime_field_tag :departure_time, station.departure_time(@route) %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag "Изменить", class: "btn" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<p>
  <strong>Поезда на маршруте:</strong>
</p>

<p>
  <% if @route.trains.empty? %>
  Нет поездов на маршруте
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Редактировать', edit_admin_route_path(@route) %> |
<%= link_to 'Назад', admin_routes_path %>
