<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Текущая станция:</strong>
</p>

<p>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Нет текущей станции
  <% end %>
</p>

<p>
  <strong>Текущий маршрут:</strong>
</p>

<p>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Нет текущего маршрута
  <% end %>
</p>

<p>
  <strong>Количество вагонов:</strong>
</p>

<p>
  <% if @train.wagons.present? %>
    Купейных:
    <%= @train.wagons_count("Купейный") %> |
    Плацкартных:
    <%= @train.wagons_count("Плацкартный") %>
  <% else %>
    Нет вагонов
  <% end %>
</p>

<p>
  <strong>Количество мест(верхних/нижних):</strong>
</p>

<p>
  <% if @train.wagons.present? %>
  <%= "Купейных: #{@train.seats_count("Купейный", "upper_seats")} /
                 #{@train.seats_count("Купейный", "lower_seats")}" %>
  <%= "Плацкартных: #{@train.seats_count("Плацкартный", "upper_seats")} /
                    #{@train.seats_count("Плацкартный", "lower_seats")}" %>
  <% else %>
    Нет вагонов
  <% end %>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
