<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'common/errors', resource: @user %>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :user_name %>
  </div>

  <div class="actions">
    <%= f.submit "#{ @user.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>