<%= form_with(model: ticket, local: true, html: {class: "form-inline"}) do |f| %>
  <%= render 'common/errors', resource: @ticket %>
  <% if local_assigns[:full] %>
    <% train = @train %>
  <% else %>
    <% train = @ticket.train %>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :full_name, "ФИО" %>
      <%= f.text_field :full_name, id: :ticket_full_name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :passport_number, "Номер паспорта" %>
      <%= f.text_field :passport_number, id: :ticket_passport_number, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :wagon_id, 'Номер вагона' %>
      <%= f.collection_select :wagon_id, train.wagons, :id, :number, {}, html_options = {class: "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :user_id, 'Аккаунт пользователя' %>
      <%= f.collection_select :user_id, User.all, :id, :email, {}, html_options = {class: "form-control"} %>
    </div>
  </div>

  <% if local_assigns[:full] %>
    <%= hidden_field_tag("ticket[from_station_id]", @from_station.id) %>
    <%= hidden_field_tag("ticket[to_station_id]", @to_station.id) %>
    <%= hidden_field_tag("ticket[train_id]", @train.id) %>
    <%= hidden_field_tag(:from_station_id, @from_station.id) %>
    <%= hidden_field_tag(:to_station_id, @to_station.id) %>
    <%= hidden_field_tag(:train_id, @train.id) %>
  <% end %>

  <br>

  <div class="row">
    <div class="col-md-4">
      <%= f.submit "#{ @ticket.new_record? ? 'Купить' : 'Изменить' }", class: "btn" %>
    </div>
  </div>
<% end %>
