<h1>Поиск билета</h1>

<%= form_with(url: search_path, method: :get, local: true) do |f| %>

  <div class="field">
    <%= f.label :from_station_id, 'Начальная станция' %>
    <%= f.collection_select :from_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :to_station_id, 'Конечная станция' %>
    <%= f.collection_select :to_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="actions">
    <%= f.submit "Найти" %>
  </div>
<% end %>

<p>
  <% if @search_result.routes.present? %>
    <table>
    <thead>
      <tr>
        <td width="150">Маршрут</td>
        <td>Номер поезда</td>
        <td>Время отправления</td>
        <td>Время прибытия</td>
        <td>Билеты</td>
      </tr>
    </thead>
    <tbody>
      <% @search_result.routes.each do |route| %>
        <% route.trains.each do |train| %>
          <tr>
            <td><%= route.name %></td>
            <td><%= "№#{train.number}" %></td>
            <td><%= @search_result.from_station.departure_time(route) %></td>
            <td><%= @search_result.to_station.arrival_time(route) %></td>
            <td>
              <%= form_with(url: new_admin_train_ticket_path(train), method: :get, local: true) do |f| %>
                <%= hidden_field_tag(:from_station_id, @search_result.from_station.id) %>
                <%= hidden_field_tag(:to_station_id, @search_result.to_station.id) %>
                <%= button_to 'Купить' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
  <% else %>
  <p>Билеты не найдены</p>
  <% end %>
</p>

