<h1>Поиск билетов</h1>

<%= form_with(url: search_path, method: :get, local: true) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :from_station_id, t(".start_station"), class: "sr-only" %>
      <%= f.collection_select :from_station_id, RailwayStation.all, :id, :title, {}, class: "form-control" %>
    </div>

    <div class="col-md-4">
      <%= f.label :to_station_id, t(".end_station"), class: "sr-only" %>
      <%= f.collection_select :to_station_id, RailwayStation.all, :id, :title, {}, class: "form-control" %>
    </div>

    <div class="col-md-4">
      <%= f.submit t(".find"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<p>
  <% if @search_result.routes.present? %>
    <table class="table table-condensed">
    <thead style="font-weight: bold">
      <tr>
        <td>Маршрут</td>
        <td>Номер поезда</td>
        <td>Время отправления</td>
        <td>Время прибытия</td>
        <td>Билеты</td>
      </tr>
    </thead>
    <tbody>
      <% @search_result.routes.each do |route| %>
        <% route.trains.each do |train| %>
          <tr>
            <td><%= route.name %></td>
            <td><%= "№#{train.number}" %></td>
            <td><%= @search_result.from_station.departure_time(route) %></td>
            <td><%= @search_result.to_station.arrival_time(route) %></td>
            <td>
              <% if current_user.nil? %>
                <%= button_to t(".buy"), new_user_session_path, method: :get %>
              <% elsif current_user.admin? %>
                <%= render 'buy_ticket', train: train, url: new_admin_ticket_path %>
              <% else %>
                <%= render 'buy_ticket', train: train, url: new_ticket_path %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
  <% else %>
  <p>Билеты не найдены</p>
  <% end %>
</p>

