<%= form_with(model: wagon.becomes(Wagon), local: true) do |f| %>
  <%= render 'common/errors', resource: @wagon %>

  <div class="field">
    <%= f.label :number, 'Номер вагона:' %>
    <%= f.text_field :number, id: :number %>
  </div>

  <div class="field">
    <%= f.label :train_id, 'Принадлежит поезду:' %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= f.label :type, 'Тип' %>
    <%= f.collection_select :type, Wagon.wagons_types, :first, :last %>
  </div>

  <div class="field">
    <%= f.label :upper_seats, "Верхние места:" %>
    <%= f.text_field :upper_seats, id: :upper_seats %>
    <%= f.label :lower_seats, "Нижние места:" %>
    <%= f.text_field :lower_seats, id: :lower_seats %>
    <%= f.label :side_upper_seats, "Боковые верхние места:" %>
    <%= f.text_field :side_upper_seats, id: :side_upper_seats %>
    <%= f.label :side_lower_seats, "Боковые нижние места:" %>
    <%= f.text_field :side_lower_seats, id: :side_lower_seats %>
    <%= f.label :seats, "Сидячие места:" %>
    <%= f.text_field :seats, id: :seats %>
  </div>

  <div class="actions">
    <%= f.submit "#{ @wagon.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>
