<p id="notice"><%= notice %></p>

<p>
  <strong>Тип:</strong>
  <%= @wagon.variety %>
</p>

<p>
  <strong>Принадлежит поезду:</strong>
</p>

<p>
  <% if @wagon.train.present? %>
    <%= @wagon.train.number %>
  <% else %>
    Не принадлежит ни одному поезду
  <% end %>
</p>

<p>
  <strong>Количество верхних мест:</strong>
</p>

<p>
    <%= @wagon.upper_seats %>
</p>

<p>
  <strong>Количество нижних мест:</strong>
</p>

<p>
    <%= @wagon.lower_seats %>
</p>

<%= link_to 'Редактировать', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад', wagons_path %>
