<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @wagon.number %>
</p>

<p>
  <strong>Тип:</strong>
  <%= Wagon.wagons_types[@wagon.type] %>
</p>

<p>
  <strong>Принадлежит поезду номер:</strong>
  <%= @wagon.train.number %>
</p>

<%= render @wagon.type.underscore %>

<%= link_to 'Редактировать', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад', wagons_path %>
