<%= form_with(model: [:admin, @train], local: true, html: {class: "form-inline"}) do |f| %>
  <%= render 'common/errors', resource: @train %>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :number, 'Номер' %>
      <%= f.text_field :number, id: :train_number %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :curren_station_id, 'Текущая станция' %>
      <%= f.collection_select :current_station_id, RailwayStation.all, :id, :title %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :route_id, 'Текущий маршрут' %>
      <%= f.collection_select :route_id, Route.all, :id, :name %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-4">
      <%= f.submit "#{ @train.new_record? ? 'Создать' : 'Изменить' }", class: "btn" %>
    </div>
  </div>
<% end %>
